.main-gameRule {
  width: 97%;
}
.text-gameRule {
  font-size: 18px;
  color: white;
  font-weight: 650;
  margin-bottom: 0.8rem;
}

.rules-card {
  border: 1px solid #9196a5;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  display: flex;
  justify-items: center;
  padding: 0.7rem;
}

@media (max-width: 768px) {
  .main-gameRule {
    width: 95%;
    /* padding: auto; */
  }
}
